/.idea
/.vs
/.vscode
/.run
/CMakeUserPresets.json
/CMakeSettings.json
/build
/local
/temp
/test-files/py
/test-files/**/*.bad.xml
docs/node_modules
docs/build
docs/ui/node_modules
docs/ui/build
docs/ui/public
share/mrdocs/libcxx/
share/mrdocs/clang/
docs/modules/reference