{
  "name": "mrdocs",
  "version": "0.1.0",
  "dependencies": [
    "duktape"
  ],
  "features": {
    "tests": {
      "description": "Build tests",
      "dependencies": [
        {
          "name": "libxml2",
          "features": [
            "tools"
          ]
        }
      ]
    }
  },
  "builtin-baseline": "3715d743ac08146d9b7714085c1babdba9f262d5"
}
