<html lang="en">
<head>
<title>Reference</title>
</head>
<body>
<div>
<h1>Reference</h1>
<div>
<div>
<h2 id="index"><a href="#index"></a></h2>
</div>
<h2>Types</h2>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#A"><code>A</code></a> </td></tr>
</tbody>
</table>

</div>
<div>
<div>
<h2 id="A"><a href="#A">A</a></h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;c_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
struct A;
</code>
</pre>
</div>
<h2>Member Functions</h2>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#A-f-07"><code>f</code></a> </td><td><span></span></td></tr>
</tbody>
</table>



</div>
<div>
<div>
<h2 id="A-f-07"><a href="#A-f-07">A::f</a></h2>
</div>
<div>
<h3>Synopses</h3>
<div>
Declared in <code>&lt;c_mft_expl_outside.cpp&gt;</code></div>

<pre>
<code class="source-code cpp">
template&lt;typename T&gt;
void
<a href="#A-f-0e">f</a>();
</code>
</pre><span class="small"><a href="#A-f-0e"><em>» more...</em></a></span>


<pre>
<code class="source-code cpp">
template&lt;&gt;
void
<a href="#A-f-0b">f&lt;int&gt;</a>();
</code>
</pre><span class="small"><a href="#A-f-0b"><em>» more...</em></a></span>


</div>
</div>
<div>
<div>
<h2 id="A-f-0e"><a href="#A-f-0e">A::f</a></h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;c_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;typename T&gt;
void
f();
</code>
</pre>
</div>
</div>
<div>
<div>
<h2 id="A-f-0b"><a href="#A-f-0b">A::f&lt;int&gt;</a></h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;c_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;&gt;
void
<a href="#A-f-0e">f</a>&lt;int&gt;();
</code>
</pre>
</div>
</div>

</div>
<div>
<h4>Created with <a href="https://www.mrdocs.com">MrDocs</a></h4>
</div>
</body>
</html>