<html lang="en">
<head>
<title>Reference</title>
<meta charset="utf-8">
</head>
<body>
<div>
<h1>Reference</h1>
<div class="symbol">
<div class="header">
<h2 id="index">Global namespace</h2>
</div><!-- /header -->
<h3>Types</h3>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr><th>Name</th></tr>
</thead>
<tbody>
<tr><td><a href="#A"><code>A&lt;int&gt;</code></a> </td></tr>
</tbody>
</table>

</div><!-- /symbol -->
<div class="symbol">
<div class="header">
<h2 id="A">A&lt;int&gt;</h2>
</div><!-- /header -->
<div class="synopsis">
<h3>Synopsis</h3>
<p>Declared in <code>&lt;ct_expl_dependency.cpp&gt;</code></p>
<pre><code class="source-code cpp">template&lt;&gt;
struct A&lt;int&gt;;</code></pre>
</div><!-- /synopsis -->
<h3>Member Functions</h3>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr><th>Name</th></tr>
</thead>
<tbody>
<tr><td><a href="#A-g"><code>g</code></a> </td></tr>
</tbody>
</table>

</div><!-- /symbol -->
<div class="symbol">
<div class="header">
<h2 id="A-g"><a href="#A">A&lt;int&gt;</a>::g</h2>
</div><!-- /header -->
<div class="synopsis">
<h3>Synopsis</h3>
<p>Declared in <code>&lt;ct_expl_dependency.cpp&gt;</code></p>
<pre><code class="source-code cpp">void
g();</code></pre>
</div><!-- /synopsis -->
</div><!-- /symbol -->

</div>
<footer class="mrdocs-footer">
<span>Created with <a href="https://www.mrdocs.com">MrDocs</a></span>
</footer>
</body>
</html>