<html lang="en">
<head>
<title>Reference</title>
</head>
<body>
<div>
<h1>Reference</h1>
<div>
<div>
<h2 id="index">Global namespace</h2>
</div>
<h2>Types</h2>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#A-0e"><code>A</code></a> </td></tr><tr>
<td><a href="#A-00"><code>A&lt;int&gt;</code></a> </td></tr>
</tbody>
</table>
</div>
<div>
<div>
<h2 id="A-0e">A</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ct_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;typename T&gt;
struct A;
</code>
</pre>
</div>
<h2>Member Functions</h2>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#A-0e-f"><code>f</code></a> </td></tr>
</tbody>
</table>


</div>
<div>
<div>
<h2 id="A-0e-f"><a href="#A-0e">A</a>::f</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ct_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;typename U&gt;
void
f();
</code>
</pre>
</div>
</div>
<div>
<div>
<h2 id="A-00">A&lt;int&gt;</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ct_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;&gt;
struct <a href="#A-0e">A</a>&lt;int&gt;;
</code>
</pre>
</div>
<h2>Member Functions</h2>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#A-00-f-030"><code>f</code></a> </td></tr>
</tbody>
</table>


</div>
<div>
<div>
<h2 id="A-00-f-030"><a href="#A-00">A</a>&lt;int&gt;::f</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ct_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;typename U&gt;
void
<a href="#A-00-f-032">f</a>();
</code>
</pre><span class="small"><a href="#A-00-f-032"><em>» more...</em></a></span>

<pre>
<code class="source-code cpp">
template&lt;&gt;
void
<a href="#A-00-f-07">f</a>&lt;int&gt;();
</code>
</pre><span class="small"><a href="#A-00-f-07"><em>» more...</em></a></span>


</div>
</div>
<div>
<div>
<h2 id="A-00-f-032"><a href="#A-00">A</a>&lt;int&gt;::f</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ct_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;typename U&gt;
void
f();
</code>
</pre>
</div>
</div>
<div>
<div>
<h2 id="A-00-f-07"><a href="#A-00">A</a>&lt;int&gt;::f&lt;int&gt;</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ct_mft_expl_outside.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;&gt;
void
<a href="#A-0e-f">f</a>&lt;int&gt;();
</code>
</pre>
</div>
</div>

</div>
<div>
<h4>Created with <a href="https://www.mrdocs.com">MrDocs</a></h4>
</div>
</body>
</html>