<html lang="en">
<head>
<title>Reference</title>
<meta charset="utf-8">
</head>
<body>
<div>
<h1>Reference</h1>
<div class="symbol">
<div class="header">
<h2 id="index">Global namespace</h2>
</div><!-- /header -->
<h3>Types</h3>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr><th>Name</th></tr>
</thead>
<tbody>
<tr><td><a href="#A-0e"><code>A</code></a> </td></tr>
<tr><td><a href="#A-00"><code>A&lt;int&gt;</code></a> </td></tr>
</tbody>
</table>

</div><!-- /symbol -->
<div class="symbol">
<div class="header">
<h2 id="A-0e">A</h2>
</div><!-- /header -->
<div class="synopsis">
<h3>Synopsis</h3>
<p>Declared in <code>&lt;ct_mc_expl_outside.cpp&gt;</code></p>
<pre><code class="source-code cpp">template&lt;typename T&gt;
struct A;</code></pre>
</div><!-- /synopsis -->
<h3>Types</h3>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr><th>Name</th></tr>
</thead>
<tbody>
<tr><td><a href="#A-0e-B"><code>B</code></a> </td></tr>
</tbody>
</table>

</div><!-- /symbol -->
<div class="symbol">
<div class="header">
<h2 id="A-0e-B"><a href="#A-0e">A</a>::B</h2>
</div><!-- /header -->
<div class="synopsis">
<h3>Synopsis</h3>
<p>Declared in <code>&lt;ct_mc_expl_outside.cpp&gt;</code></p>
<pre><code class="source-code cpp">struct B;</code></pre>
</div><!-- /synopsis -->
<h3>Member Functions</h3>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr><th>Name</th></tr>
</thead>
<tbody>
<tr><td><a href="#A-0e-B-f"><code>f</code></a> </td></tr>
</tbody>
</table>

</div><!-- /symbol -->
<div class="symbol">
<div class="header">
<h2 id="A-0e-B-f"><a href="#A-0e">A</a>::<a href="#A-0e-B">B</a>::f</h2>
</div><!-- /header -->
<div class="synopsis">
<h3>Synopsis</h3>
<p>Declared in <code>&lt;ct_mc_expl_outside.cpp&gt;</code></p>
<pre><code class="source-code cpp">void
f();</code></pre>
</div><!-- /synopsis -->
</div><!-- /symbol -->
<div class="symbol">
<div class="header">
<h2 id="A-00"><a href="#A-0e">A</a>&lt;int&gt;</h2>
</div><!-- /header -->
<div class="synopsis">
<h3>Synopsis</h3>
<p>Declared in <code>&lt;ct_mc_expl_outside.cpp&gt;</code></p>
<pre><code class="source-code cpp">template&lt;&gt;
struct <a href="#A-0e">A</a>&lt;int&gt;;</code></pre>
</div><!-- /synopsis -->
<h3>Types</h3>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr><th>Name</th></tr>
</thead>
<tbody>
<tr><td><a href="#A-00-B"><code>B</code></a> </td></tr>
</tbody>
</table>

</div><!-- /symbol -->
<div class="symbol">
<div class="header">
<h2 id="A-00-B"><a href="#A-00">A&lt;int&gt;</a>::B</h2>
</div><!-- /header -->
<div class="synopsis">
<h3>Synopsis</h3>
<p>Declared in <code>&lt;ct_mc_expl_outside.cpp&gt;</code></p>
<pre><code class="source-code cpp">struct B;</code></pre>
</div><!-- /synopsis -->
<h3>Member Functions</h3>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr><th>Name</th></tr>
</thead>
<tbody>
<tr><td><a href="#A-00-B-g"><code>g</code></a> </td></tr>
</tbody>
</table>

</div><!-- /symbol -->
<div class="symbol">
<div class="header">
<h2 id="A-00-B-g"><a href="#A-00">A&lt;int&gt;</a>::<a href="#A-00-B">B</a>::g</h2>
</div><!-- /header -->
<div class="synopsis">
<h3>Synopsis</h3>
<p>Declared in <code>&lt;ct_mc_expl_outside.cpp&gt;</code></p>
<pre><code class="source-code cpp">void
g();</code></pre>
</div><!-- /synopsis -->
</div><!-- /symbol -->

</div>
<footer class="mrdocs-footer">
<span>Created with <a href="https://www.mrdocs.com">MrDocs</a></span>
</footer>
</body>
</html>