<html lang="en">
<head>
<title>Reference</title>
</head>
<body>
<div>
<h1>Reference</h1>
<div>
<div>
<h2 id="index">Global namespace</h2>
</div>
<h2>Functions</h2>
<table style="table-layout: fixed; width: 100%;">
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#f"><code>f</code></a> </td></tr>
</tbody>
</table>
</div>
<div>
<div>
<h2 id="f">f</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ft_expl.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;typename T&gt;
void
<a href="#f-03">f</a>();
</code>
</pre><span class="small"><a href="#f-03"><em>» more...</em></a></span>

<pre>
<code class="source-code cpp">
template&lt;&gt;
void
<a href="#f-0c">f</a>&lt;int&gt;();
</code>
</pre><span class="small"><a href="#f-0c"><em>» more...</em></a></span>


</div>
</div>
<div>
<div>
<h2 id="f-03">f</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ft_expl.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;typename T&gt;
void
f();
</code>
</pre>
</div>
</div>
<div>
<div>
<h2 id="f-0c">f&lt;int&gt;</h2>
</div>
<div>
<h3>Synopsis</h3>
<div>
Declared in <code>&lt;templates/ft_expl.cpp&gt;</code></div>
<pre>
<code class="source-code cpp">
template&lt;&gt;
void
<a href="#f-03">f</a>&lt;int&gt;();
</code>
</pre>
</div>
</div>

</div>
<div>
<h4>Created with <a href="https://www.mrdocs.com">MrDocs</a></h4>
</div>
</body>
</html>