{{#if members}}
<div>
    <h3>{{title}}</h3>
    <table>
        <colgroup>
            <col style="width: 50%;">
            <col style="width: 50%;">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each (sort_by members "name")}}
            <tr>
                <td>{{>xref id=id content=name}}</td>
                <td>{{{doc.brief}}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
