{{!-- alias --}}
<div id="{{{symbol.anchor}}}">
    <div>
        <h2>{{>types/nested-name-specifier symbol=symbol.parent}}{{symbol.name}}</h2>
        {{{symbol.doc.brief}}}
    </div>
    <div>
        <h3>Synopsis</h3>
        <div>
            <code>
                {{>types/source dcl=(primary_location symbol)}}
            </code>
        </div>
        <pre class="source-code cpp">
            {{>signature/alias symbol=symbol}};
        </pre>
    </div>
    {{#if symbol.doc.description}}
        <div>
            <h3>Description</h3>
            {{{symbol.doc.description}}}
        </div>
    {{/if}}
</div>
