{{!-- guides --}}
<div id="{{symbol.id}}">
    <div>
        <h2>Deduction guide {{>nested-name-specifier symbol=symbol.parent}}{{symbol.name}}</h2>
        {{{symbol.doc.brief}}}
    </div>

    <div>
        <h3>Synopsis</h3>
        <div>
            <code>
                {{>source dcl=(primary_location symbol)}}
            </code>
        </div>
        <pre class="source-code cpp">
            {{>signature/guide symbol=symbol}};
        </pre>
    </div>

    {{#if symbol.doc.description}}
    <div>
        <h3>Description</h3>
        {{{symbol.doc.description}}}
    </div>
    {{/if}}
</div>
