{{! List the "members" of a symbol as a table }}
{{#if members}}
<div>
    <h3>{{title}}</h3>
    <table>
        <colgroup>
            <col style="width: 50%;">
            <col style="width: 50%;">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each (sort_by members "name")}}
                {{>types/info-member .}}
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
