{{! Helper for "info-list": renders a symbol as a row in a table of members }}
<tr>
    <td>
        <a href="{{ref}}">{{>types/declarator-id . nolink=true}}</a> {{>types/special-name-suffix .}}
    </td>
    <td>
        {{#if (ne kind "overload")~}}
            {{~doc.brief}}
        {{else~}}
            {{#each (unique (pluck (pluck members "doc") "brief"))~}}
                {{.}}
            {{/each~}}
        {{/if}}
    </td>
</tr>