{{! Renders the name of the symbol with a suffix when the symbol is a special member (e.g., constructor, destructor, overload, variant member) }}
{{#if (eq kind "overload")}}{{>types/special-name-suffix (front members)~}}
{{else if (eq kind "function")~}}
    {{#if (eq class "constructor")}}
        <span class="small">[constructor]</span>
    {{~else if (eq class "destructor")~}}
        <span class="small">[destructor]</span>
    {{~/if~}}
    {{else if (eq kind "field")~}}
    {{#if isVariant}}<span class="small">[variant member]</span>{{/if~}}
{{/if}}
