# npm install
# npx antora --fetch antora-playbook.yml
site:
  title: MrDocs
  url: https://www.mrdocs.com/
  start_page: mrdocs::index.adoc
  robots: allow
  keys:
    repo_url: 'https://github.com/cppalliance/mrdocs'

content:
  # "HEAD" for author mode, [ develop, master ] for published versions
  branches: ${branchesarray}
  tags: [ v* ]
  edit_url: 'https://github.com/cppalliance/mrdocs/edit/{refname}/{path}'
  sources:
    # The component URL is relative to the playbook file, since the only component
    # is hosted on the same repository as the playbook.
    # This allows the same playbook to be used for author mode with the
    # "HEAD" branch.
    - url: ..
      start_path: docs
      edit_url: 'https://github.com/cppalliance/mrdocs/edit/{refname}/{path}'
      worktrees: true

ui:
  bundle:
    url: 'https://github.com/boostorg/website-v2-docs/releases/download/ui-develop/ui-bundle.zip'
    snapshot: true

antora:
  extensions:
    - require: '@alandefreitas/antora-playbook-macros-extension'
      macros:
        branchesarray: [ develop, master ]
    - require: '@sntke/antora-mermaid-extension' # <1>
      mermaid_library_url: https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs # <2>
      script_stem: header-scripts
      mermaid_initialize_options:
        start_on_load: true
    - require: '@antora/lunr-extension' # https://gitlab.com/antora/antora-lunr-extension
      index_latest_only: true

asciidoc:
  attributes:
    logo-img: ''
    logo-text: 'Mr. Docs'
    icon-img: ''
  extensions:
    - '@asciidoctor/tabs'
    - ./extensions/mrdocs-demos.js
    - ./extensions/mrdocs-releases.js
    - ./extensions/c-preprocessor.js
    - ./extensions/config-options-reference.js
